<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.middleschool.score.common.mapper.StudentScoreNameMapper" >
    <resultMap id="BaseResultMap" type="com.middleschool.score.common.dto.StudentScoreName" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="student_id" property="studentId" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="class_id" property="classId" jdbcType="BIGINT" />
        <result column="semester" property="semester" jdbcType="INTEGER" />
        <result column="chinese" property="chinese" jdbcType="DOUBLE" />
        <result column="english" property="english" jdbcType="DOUBLE" />
        <result column="math" property="math" jdbcType="DOUBLE" />
        <result column="start_date" property="startDate" jdbcType="TIMESTAMP" />
        <result column="end_date" property="endDate" jdbcType="TIMESTAMP" />
        <result column="political" property="political" jdbcType="DOUBLE" />
        <result column="history" property="history" jdbcType="DOUBLE" />
        <result column="physico" property="physico" jdbcType="DOUBLE" />
        <result column="geography" property="geography" jdbcType="DOUBLE" />
        <result column="biology" property="biology" jdbcType="DOUBLE" />
        <result column="chemical" property="chemical" jdbcType="DOUBLE" />
    </resultMap>

<!--查询某个班级的所有成绩并且排名-->
<select id="selectScoreByClassId" resultMap="BaseResultMap" parameterType="com.middleschool.score.common.dto.MsScoreExample">
    select *
    from ms_score s join ms_student st on s.student_id=st.id where class_id = #{classId,jdbcType=BIGINT} and now() BETWEEN start_date AND end_date order by
    <trim>
        <if test="courseName=='chinese'">
            chinese
        </if>
        <if test="courseName=='english'">
            english
        </if>
        <if test="courseName=='math'">
            math
        </if>
        <if test="courseName=='political'">
            political
        </if>
        <if test="courseName=='geography'">
            geography
        </if>
        <if test="courseName=='basicCompetencies'">
            basic_competencies
        </if>
        <if test="courseName=='biology'">
            biology
        </if>
        <if test="courseName=='history'">
            history
        </if>
        <if test="courseName=='physico'">
            physico
        </if>
        <if test="courseName=='chemical'">
            chemical
        </if>
    </trim> desc limit #{limit,jdbcType=INTEGER} offset #{offset,jdbcType=INTEGER}
</select>

    <select id="selectScoreByClassIdNoPage" resultMap="BaseResultMap" parameterType="com.middleschool.score.common.dto.MsScoreExample">
        select *
        from ms_score s join ms_student st on s.student_id=st.id where class_id = #{classId,jdbcType=BIGINT} and now() BETWEEN start_date AND end_date order by
        <trim>
            <if test="courseName=='chinese'">
                chinese
            </if>
            <if test="courseName=='english'">
                english
            </if>
            <if test="courseName=='math'">
                math
            </if>
            <if test="courseName=='political'">
                political
            </if>
            <if test="courseName=='geography'">
                geography
            </if>
            <if test="courseName=='basicCompetencies'">
                basic_competencies
            </if>
            <if test="courseName=='biology'">
                biology
            </if>
            <if test="courseName=='history'">
                history
            </if>
            <if test="courseName=='physico'">
                physico
            </if>
            <if test="courseName=='chemical'">
                chemical
            </if>
        </trim>
    </select>
    <select id="selectCountByClassId" resultType="java.lang.Integer" parameterType="com.middleschool.score.common.dto.MsScoreExample">
        select COUNT(*)
        from ms_score  where class_id = #{classId,jdbcType=BIGINT} and now() BETWEEN start_date AND end_date
    </select>
</mapper>