@charset "utf-8";
/* CSS Document */
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
ul li{list-style:none;}
.ad_top{width:100%;font-size:28px;background:#27AE60;color:#fff;height:240px;font-weight:200;}
.ad_top p{text-align:center;padding-top:40px;}
.ad_top .form-group{width:1000px;position:relative;margin:40px auto;}
.ad_top .search{padding:13px 30px;height:auto;text-align:center;color:#000;border:2px solid #27AE60;}
.ad_top .fa{position:absolute;right:25px;top:10px;color:#c6c6c6;font-size:24px;background:transparent;border:none;}

/*ad_left,html*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td { margin: 0; padding: 0; font-family:"微软雅黑"}
a{ text-decoration:none;}
.list-group-item{border:none;padding:5px 10px;}
a.list-group-item:hover{background:#fff}
a.list-group-item:focus{border-left:3px solid #27AE60;color:#27AE60;border-radius:0;outline:none;background:#fff;}

/*折叠菜单*/
.ad_lf{margin-top:50px;width:270px;height:458px;padding:20px 10px;border:2px solid #e5e3da;float:right;margin-right:30px;border-radius:5px;}
.subNav{cursor:pointer;font-size:17px;line-height:40px;padding-left:8px;background:url(../images/jiantou1.jpg) no-repeat;background-position:95% 50%;}
.subNav p{background:#dfdfdf;width:230px;opacity:0.6;padding-left:10px;border-radius:5px;}
.subNav:hover{color:#27AE60;}
.currentDd{color:#555;}
.currentDt{background-image:url(../images/jiantou.jpg);}
.navCon{display: none;}
.navCon li{margin-top:10px;margin-left:40px;color:#333;font-size:16px;}
.navCon li a{color:#555;font-size:15px;font-weight:bold;}
.navCon li a:hover{color:#27AE60;text-decoration:none;}
.phb li{margin-top:5px;}
.phb li a{padding:5px 0 5px 10px;}
.phb li a:focus{border-left:3px solid #27AE60;color:#27AE60;outline:none;text-decoration:none;}
/*ad_sinfo.html*/
.ad_rt{margin-top:50px;width:95%;height:auto;}
.size{font-size:16px;}
.fl{float:left;}
.fr{float:right;}
.clear{clear:both;}
.ad_rt ul li{float:left;width:10%;text-align:center;padding-top:18px;}
.s_xx{width:95%;height:400px;overflow:auto;margin:0 auto;padding:0;border:2px solid #e5e3da;background:#f5f5f5;}
.s_xx .panel-heading{background:#52cdfe;color:#fff;}
/*分页*/
.tcdPageCode{padding:15px 20px;text-align:center;color:#ccc;}
.tcdPageCode a:hover{text-decoration:none;border:1px solid #428bca;}
.tcdPageCode a,.tcdPageCode span.current,.tcdPageCode span.disabled{display:inline-block;height:30px;line-height:30px;padding: 0 10px;margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a{color:#3062df;border:1px solid #ddd;}
.tcdPageCode span.current{color:#fff;background:linear-gradient(#43dcfa,#3062df);border:1px solid #43dcfa;}
.tcdPageCode span.disabled{color:#bfbfbf;background:#f2f2f2;border:1px solid #bfbfbf;}
/*添加学生*/
.add_stu ul li,.alt_stu ul li{line-height:46px;}
.add_stu label,.alt_stu label{width:80px;margin-left:20px;}
.add_stu select,.alt_stu select{width:80px;height:30px;}
.btn_qd{background: linear-gradient(#fe8a18,#eb4e00);font-size:16px;}
/*修改学生信息*/
.alt_stu input{border:none;box-shadow:none;border-bottom:1px solid #a5a5a5}
/*教师*/
.cz_js{color:#000;width:160px;display:inline-block;margin:0 15px;}
/*修改成绩*/
#sco_gl ul li{float:left;width:6%;text-align:center;padding-top:18px;}
#alt_sco input{width:70px}
#alt_sco span{display:inline-block;width:154px}
