@charset "utf-8";
/* CSS Document */
.container{width:100%;height:100%;background-color:#ecf0fc;}

#span1,#span2{font-size:13px;color:#c3493c;float:right;}
.denglu_sel{width:98px;display:inline-block;}

/*管理员登录*/
.con{width:580px;height:280px;margin:0 auto;margin-top:140px ;background-size:100% 100%;}
.logo{width:49%;float:left;padding-top:60px;margin-left:30px;}
.logo .l_l{color:#415d98;font-size:18px;font-weight:bold;margin-left:60px;}
.ad_login{float:left;width:43%;padding-left:20px;padding-top:30px;}
.ad_login .denglu_top{font-size:20px;text-align:center;color:#fff;padding-bottom:0;text-shadow: 3px 2px 6px #000;height:30px;}
.ad_login .form-control{width:200px;}
#loginBtn{width:98px;height:34px;margin-left:0px;border:0 ;background-size:100% 100%;}

