@charset "utf-8";
/* CSS Document */
#cont{width:65%;margin:0 auto;}
#con{width:66%;min-height:550px;margin:0 auto;background:url(../img/ng_tm.png);background-size:100% 100%;}
#s_con{padding-top:40px;}
#stu_info{margin-left:140px;}
#stu_ncj,#stu_bcj{margin-left:120px}
#stu_mm{margin-left:260px}
#s_head{padding-top:200px;font-size:16px;border-radius:7px;background:url(../img/stu_head.jpg) no-repeat;background-size:100% 100%;}

#s_lf{margin-right:40px;margin-top:0}
