@charset "utf-8";
/* CSS Document */
ul li{list-style: none;}
/* stu_top */
#cont{width:100%;font-size:28px;background:#27AE60;color:#fff;height:240px;font-weight:200;}
#cont p{text-align:center;padding-top:40px;}

/* 左边导航 */
#stu_menu{float:right;width:200px;}
#stu_menu a{font-size:16px;background:linear-gradient(#d3d3d3,#fff);}
#stu_menu a:focus{border-left:2px solid #27ae60;outline:none;}
/* 学生信息 */
#stu_info table td{border:none;}

/* 修改密码 */
#stu_mm,#stu_info,#score_now,#score_before{margin-left:150px;}
#stu_mm label{width:70px;font-weight:200;margin-left:20px;display:inline-block;}
#stu_mm .form-control{width:235px;height:50px;display:inline-block;}
#stu_mm button{width:110px;}
#stu_mm #commit{margin-left:60px;}
#stu_mm #span1,#stu_mm #span2,#stu_mm #span3,#stu_mm #error{margin-left:90px;color:#c3493c;}

/* 我的成绩 */
#score_now button,#score_before button{width:100px;margin-right:20px;}
.score_info{width:650px;border: 1px solid transparent;border-radius:6px;}
.score_info th,.score_info td{text-align:center;}