@charset "utf-8";
/* CSS Document */
body{font-size:16px;font-family:微软雅黑;}
/*teach_top*/
#cont{width:100%;font-size:28px;background:#27AE60;color:#fff;height:240px;font-weight:200;}
#cont p{text-align:center;padding-top:40px;}

/*teach_left*/
#tea_menu{float:right;height:440px;width:240px;background-color:#fff;border:1px solid #a9a9a9;border-radius:6px;}
#tea_menu li{padding:12px;list-style:none}
#tea_menu .t_lc{background: linear-gradient(#d3d3d3,#fff);}
#tea_menu a:hover{text-decoration:none;background-color:#ecf0fc;}
#tea_menu a:focus{border-left:2px solid #27ae60;outline:none;}
#tea_menu .ejcd{padding-left:70px;}

/* 教师信息 */
#tea_info,#tea_score,#tea_pie{margin-left:180px;margin-top:60px;}
#tea_info table td{border:none;}

/* 成绩排名 */
#tea_score .form-control{display:inline-block;width:110px;margin-left:10px;}
#count,#tea_score .tea_id{background:#fff;color:#fff;border:none;}
#tea_score select,#tea_pie select{width:90px;height:34px;text-align:center;margin-right:10px;}
#tea_score th,#tea_score td{text-align:center;vertical-align: middle;height:30px;}


.tcdPageCode{padding:15px 20px;text-align:right;color:#ccc;}
.tcdPageCode a:hover{text-decoration:none;border:1px solid #428bca;}
.tcdPageCode a,.tcdPageCode span.current,.tcdPageCode span.disabled{display:inline-block;height:30px;line-height:30px;padding: 0 10px;margin: 0 2px;border-radius: 4px;vertical-align: middle;}
.tcdPageCode a{color:#428bca;border:1px solid #ddd;}
.tcdPageCode span.current{color:#fff;background-color:#428bca;border:1px solid #428bca;}
.tcdPageCode span.disabled{color:#bfbfbf;background:#f2f2f2;border:1px solid #bfbfbf;}

/*成绩分布情况*/
#tea_pie .courseName{border:none;background:#fff;width:36px;margin-bottom:20px;}
.tea_sm{margin-bottom:100px;}
.tea_sm .btn{margin-right:30px;width:100px;}
.btn1{background-color:#aec978}
.btn2{background-color:#E0E4CC}
.btn3{background-color:#e9c75c}
.btn4{background-color:#A8B3C5}
#tea_pie canvas{display:block;margin:0 auto;}
#tea_pie p{color:#fff;}

